.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 3em;
  margin-top: 50px;
}
.input {
  margin: 20px 0;
}
label {
  font-size: 1.2em;
  display: block;
  margin-bottom: 10px;
}
input {
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}
button:hover {
  background-color: #3e8e41;
}
#result {
  margin-top: 50px;
  font-size: 2em;
  font-weight: bold;
}
